.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  margin: 1rem;
}
.product {
  border: 1px solid;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
